<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ptm_duplicatedcustomtext</name>
    <displayName><![CDATA[Duplicated Custom Text Block]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Adds a second block of Custom text blocks]]></description>
    <author><![CDATA[Presta Theme Maker]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>